
.App-logo {
  height: 40vmin;
  width: 30vmin;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 50;

}



.App-header {
  background-image:url('astronomy.jpg');
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.heading {
  width: 200,
  
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200;
  height: auto;
}
p.text{
  font-size: 50;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  color: rgb(63, 15, 109);
}